<div class='search-div'>
  <form class="well form-search" action="/admin/comments/flags" method="get">  
    <select id='sites' name="site_id" class= "dropdown_box_class">
      <% @sites.each_with_index do | site, index | %>
        <% if @site.id == site.id %>
          <option selected= "selected" value= <%= site.id %>><%= site.name %></option>
        <% else %>
          <option value= <%= site.id %>><%= site.name %></option>
        <% end %>
      <% end %>
    </select>
    <button type = "submit" class = "search-button">Go</button>  
  </form>  
</div>
<h3>Flagged Comments</h3>
<hr>
<div class="comments list">
  <% if @flagcomments.empty? %>
    No comments have been flagged.
  <% else %>
    <% @flagcomments.each do |flagcomment| %>
      <div class="row root_shell" style="width:95%;">
        <div class="row flag_notice">
          <div class="j-left">
      	    <strong>
      	      <%= flagcomment.flaggers%>
      	    </strong>
      	  </div>
      	  <div class="j-left">
      	    <%= remove_button_link_to 'Delete flags', destroy_flag_admin_comment_path(flagcomment.comment),
            :method => :delete,
            :confirm => 'Are you sure?',
            :return_to => request.fullpath %>
          </div>
        </div>
        <div class="row">
          <%= render :partial => 'admin/comments/comment',
          :locals => { :show_topic => true, :comment => flagcomment.comment } %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

