<div class="juvia-container"
	data-site-key="<%= @site_key %>"
	data-topic-key="<%= @topic_key %>"
	data-topic-title="<%= @topic_title %>"
	data-topic-url="<%= @topic_url %>">
<div class="juvia-topic">
	<% if @require_external_user %>
	  <% if @user_logged_in %> 
	    <%= render :partial => 'like_unlike'%>
	    <h3>Add comment</h3>
	    <%= render :partial => 'user_form' %>
      <%= render :partial => 'markdown_help' %>
	  <% else %>
	    <h3><%= @logged_in_message.html_safe %></h3>
	    <%= render :partial => 'like_unlike'%>
	  <% end %>
    <% else %>
      <%= render :partial => 'like_unlike'%>
      <h3>Add comment</h3>
      <%= render :partial => 'form' %>
      <%= render :partial => 'markdown_help' %>
    <% end %>
	<% comments = topic.comments.visible.to_a %>
	<% if comments.size == 1 %>
	    <%=render :partial=>"sorting", :locals => {:total_comments =>"1 comment", :sorting_option => false}%>
		<div class="juvia-comments" id="juvia-comments-box"></div>
	<% elsif comments.size > 1 %>
		<%=render :partial=>"sorting", :locals => { :total_comments =>" #{comments.size.to_s} comments" , :sorting_option => true}%>
		<div class="juvia-comments" id="juvia-comments-box"></div>
	<% else %>
	    <%=render :partial=>"sorting", :locals => {:total_comments =>"", :sorting_option => false}%>
		<div class="juvia-comments juvia-no-comments" id="juvia-comments-box">There are no comments yet.</div>
	<% end %>
</div>
<div class="load_more_contain">
  <img class="hide" width="16" height="11" style="margin:0 0 3px 5px" src="data:image/gif;base64,R0lGODlhEAALAPQAAP///z2LqeLt8dvp7u7090GNqz2LqV+fuJ/F1IW2ycrf51aatHWswaXJ14i4ys3h6FmctUCMqniuw+vz9eHs8fb5+meku+Tu8vT4+cfd5bbT3tbm7PH2+AAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCwAAACwAAAAAEAALAAAFLSAgjmRpnqSgCuLKAq5AEIM4zDVw03ve27ifDgfkEYe04kDIDC5zrtYKRa2WQgAh+QQJCwAAACwAAAAAEAALAAAFJGBhGAVgnqhpHIeRvsDawqns0qeN5+y967tYLyicBYE7EYkYAgAh+QQJCwAAACwAAAAAEAALAAAFNiAgjothLOOIJAkiGgxjpGKiKMkbz7SN6zIawJcDwIK9W/HISxGBzdHTuBNOmcJVCyoUlk7CEAAh+QQJCwAAACwAAAAAEAALAAAFNSAgjqQIRRFUAo3jNGIkSdHqPI8Tz3V55zuaDacDyIQ+YrBH+hWPzJFzOQQaeavWi7oqnVIhACH5BAkLAAAALAAAAAAQAAsAAAUyICCOZGme1rJY5kRRk7hI0mJSVUXJtF3iOl7tltsBZsNfUegjAY3I5sgFY55KqdX1GgIAIfkECQsAAAAsAAAAABAACwAABTcgII5kaZ4kcV2EqLJipmnZhWGXaOOitm2aXQ4g7P2Ct2ER4AMul00kj5g0Al8tADY2y6C+4FIIACH5BAkLAAAALAAAAAAQAAsAAAUvICCOZGme5ERRk6iy7qpyHCVStA3gNa/7txxwlwv2isSacYUc+l4tADQGQ1mvpBAAIfkECQsAAAAsAAAAABAACwAABS8gII5kaZ7kRFGTqLLuqnIcJVK0DeA1r/u3HHCXC/aKxJpxhRz6Xi0ANAZDWa+kEAA7AAAAAAAAAAAA" alt="...">
  <input type="button" id="show_more_comments" style="display:none;" class="btn btn-large lod-more-btn-block" value="Show More ..." data-page = "2" onclick="Juvia.showMoreComments(this);" data-loading-text="Loading..."/>
</div>
</div> <!-- juvia-container -->
