<div class="juvia-container"
	data-site-key="<%= @site_key %>"
	data-topic-key="<%= @topic_key %>"
	data-topic-title="<%= @topic_title %>"
	data-topic-url="<%= @topic_url %>">
<div class="juvia-topic">
	<% if @require_external_user %>
	  <% if @user_logged_in %> 
	    <%= render :partial => 'like_unlike'%>
	    <h3>Add comment</h3>
	    <%= render :partial => 'user_form' %>
      <%= render :partial => 'markdown_help' %>
	  <% else %>
	    <h3><%= @logged_in_message.html_safe %></h3>
	    <%= render :partial => 'like_unlike'%>
	  <% end %>
    <% else %>
      <%= render :partial => 'like_unlike'%>
      <h3>Add comment</h3>
      <%= render :partial => 'form' %>
      <%= render :partial => 'markdown_help' %>
    <% end %>
	<% comments = topic.comments.visible.to_a %>
	<% if comments.size == 1 %>
	    <%=render :partial=>"sorting", :locals => {:total_comments =>"1 comment", :sorting_option => false}%>
		<div class="juvia-comments" id="juvia-comments-box"></div>
	<% elsif comments.size > 1 %>
		<%=render :partial=>"sorting", :locals => { :total_comments =>"Showing #{comments.size.to_s} comments" , :sorting_option => true}%>
		<div class="juvia-comments" id="juvia-comments-box"></div>
	<% else %>
	    <%=render :partial=>"sorting", :locals => {:total_comments =>"", :sorting_option => false}%>
		<div class="juvia-comments juvia-no-comments" id="juvia-comments-box">There are no comments yet.</div>
	<% end %>
</div>
<div class="load_more_contain">
  <img class="hide" width="16" height="11" style="margin:0 0 3px 5px" src="<%="#{request.protocol}#{request.host_with_port}#{asset_path("loading.gif")}"%>">
    <input type="button" id="show_more_comments" style="display:none;" class="btn btn-large lod-more-btn-block" value="Show More ..." data-page = "2" onclick="Juvia.showMoreComments(this);" data-loading-text="Loading..."/>
</div>
</div> <!-- juvia-container -->
